<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DotNetNuke.Url" value="http://dnn721" />
    <!--<add key="DotNetNuke.Url" value="http://fcbuild:81" />-->
    <add key="DotNetNuke.UserName" value="host" />
    <add key="DotNetNuke.Password" value="abc123$" />
  </appSettings>
</configuration>
