<portal version="5.0">
  <description>Solamente export&amp;#243; menus de Servicios, Operaciones, Consultas y Reportes, y Modulo BI.</description>
  <settings>
    <logofile />
    <footertext>Copyright 2011 by FACTURE SAS </footertext>
    <userregistration>2</userregistration>
    <banneradvertising>0</banneradvertising>
    <defaultlanguage>en-US</defaultlanguage>
    <skinsrc>[G]Skins/DarkKnight/2-Column-Right-Mega-Menu.ascx</skinsrc>
    <skinsrcadmin>[G]Skins/DarkKnight/2-Column-Right-Mega-Menu.ascx</skinsrcadmin>
    <containersrc>[G]Containers/DarkKnight/SubTitle_Grey.ascx</containersrc>
    <containersrcadmin>[G]Containers/DarkKnight/SubTitle_Grey.ascx</containersrcadmin>
    <enableskinwidgets>False</enableskinwidgets>
    <contentlocalizationenabled>False</contentlocalizationenabled>
    <timezone>Pacific Standard Time</timezone>
    <hostspace>0</hostspace>
    <userquota>0</userquota>
    <pagequota>0</pagequota>
  </settings>
  <tabs>
    <tab>
      <content>Usuarios</content>
      <contentKey />
      <containersrc />
      <cultureCode />
      <description />
      <disabled>false</disabled>
      <enddate>0001-01-01T00:00:00</enddate>
      <issecure>false</issecure>
      <visible>true</visible>
      <keywords />
      <pageheadtext />
      <permanentredirect>false</permanentredirect>
      <refreshinterval>-1</refreshinterval>
      <sitemappriority>5</sitemappriority>
      <skinsrc />
      <startdate>0001-01-01T00:00:00</startdate>
      <name>Operaciones</name>
      <title>Usuarios Industriales</title>
      <url type="Normal" />
      <tabpermissions>
        <permission>
          <permissioncode>SYSTEM_TAB</permissioncode>
          <permissionkey>VIEW</permissionkey>
          <allowaccess>true</allowaccess>
          <rolename>Administradores-Sitio</rolename>
        </permission>
        <permission>
          <permissioncode>SYSTEM_TAB</permissioncode>
          <permissionkey>VIEW</permissionkey>
          <allowaccess>true</allowaccess>
          <rolename>Administrators</rolename>
        </permission>
        <permission>
          <permissioncode>SYSTEM_TAB</permissioncode>
          <permissionkey>EDIT</permissionkey>
          <allowaccess>true</allowaccess>
          <rolename>Administrators</rolename>
        </permission>
        <permission>
          <permissioncode>SYSTEM_TAB</permissioncode>
          <permissionkey>VIEW</permissionkey>
          <allowaccess>true</allowaccess>
          <rolename>Supervisores</rolename>
        </permission>
        <permission>
          <permissioncode>SYSTEM_TAB</permissioncode>
          <permissionkey>VIEW</permissionkey>
          <allowaccess>true</allowaccess>
          <rolename>Usuarios Aplicacion</rolename>
        </permission>
      </tabpermissions>
      <tabsettings />
      <panes>
        <pane>
          <name>ContentPane</name>
          <modules>
            <module>
              <contentKey />
              <moduleID>985</moduleID>
              <alignment />
              <alltabs>false</alltabs>
              <border />
              <cachemethod />
              <cachetime>1200</cachetime>
              <color />
              <containersrc />
              <displayprint>false</displayprint>
              <displaysyndicate>false</displaysyndicate>
              <displaytitle>true</displaytitle>
              <enddate>0001-01-01T00:00:00</enddate>
              <footer />
              <header />
              <iconfile />
              <inheritviewpermissions>true</inheritviewpermissions>
              <iswebslice>false</iswebslice>
              <modulepermissions>
                <permission>
                  <permissioncode>SYSTEM_MODULE_DEFINITION</permissioncode>
                  <permissionkey>EDIT</permissionkey>
                  <allowaccess>true</allowaccess>
                  <rolename>Administrators</rolename>
                </permission>
              </modulepermissions>
              <title>Enter Title</title>
              <startdate>0001-01-01T00:00:00</startdate>
              <uniqueId>3b1c9a0a-0b6a-4220-bf77-dacf47563a63</uniqueId>
              <visibility>Maximized</visibility>
              <websliceexpirydate>0001-01-01T00:00:00</websliceexpirydate>
              <webslicettl>0</webslicettl>
              <cultureCode />
              <modulesettings />
              <tabmodulesettings />
              <definition>DNN_HTML</definition>
              <moduledefinition>Text/HTML</moduledefinition>
            </module>
          </modules>
        </pane>
      </panes>
    </tab>
  </tabs>
</portal>